FORMAT: 1A
HOST: https://ops.epo.org

# OPS v3.1 Test Server
Mock of EPO OPS v3.1 for testing purposes. These end points are based on v
1.2.10 of the reference guide.

# Group Service Quota Errors
Test end points when user or app reaches OPS quota.

## AnonymousQuotaPerMinute exceeded [/anonymous-per-min-exceeded/publication/docdb/biblio]
Anonymous users are allowed up to 30 requests per minute, only 10 of which can
be searches.

### POST
+ Request

    ```
    (Forbidden).(Quota).(exceeded)
    ```
+ Response 403 (application/xml)
    + Headers

        ```
        X-Rejection-Reason: AnonymousQuotaPerMinute exceeded
        ```

    + Body
        ```
        <error><code>403</code><message>This request has been rejected due to the violation of Fair Use policy</message><moreInfo>http://www.epo.org/searching/free/espacenet/fair-use.html</moreInfo></error>
        ```

## AnonymousQuotaPerDay exceeded [/anonymous-per-day-exceeded/publication/docdb/biblio]
Anonymous users are allowed to access up to 100MB of data per day.

### POST
+ Request

    ```
    (Forbidden).(Quota).(exceeded)
    ```
+ Response 403 (application/xml)
    + Headers

        ```
        X-Rejection-Reason: AnonymousQuotaPerDay exceeded
        ```

    + Body
        ```
        <error><code>403</code><message>This request has been rejected due to the violation of Fair Use policy</message><moreInfo>http://www.epo.org/searching/free/espacenet/fair-use.html</moreInfo></error>
        ```

## IndividualQuotaPerHour exceeded [/individual-per-hour-exceeded/publication/docdb/biblio]
Each registered user account is allowed to use 450MB per hour. Even though this
is enforced for all users, anonymous users can never reach this threshold due
to the 100MB/day limit.

### POST
+ Request

    ```
    (Forbidden).(Quota).(exceeded)
    ```
+ Response 403 (application/xml)
    + Headers

        ```
        X-Rejection-Reason: IndividualQuotaPerHour exceeded
        ```

    + Body
        ```
        <error><code>403</code><message>This request has been rejected due to the violation of Fair Use policy</message><moreInfo>http://www.epo.org/searching/free/espacenet/fair-use.html</moreInfo></error>
        ```

## RegisteredQuotaPerWeek exceeded [/registered-per-week-exceeded/publication/docdb/biblio]
Each free registered user account is allowed to use 2.5GB per week.

### POST
+ Request

    ```
    (Forbidden).(Quota).(exceeded)
    ```
+ Response 403 (application/xml)
    + Headers

        ```
        X-Rejection-Reason: RegisteredQuotaPerWeek
        ```

    + Body
        ```
        <error><code>403</code><message>This request has been rejected due to the violation of Fair Use policy</message><moreInfo>http://www.epo.org/searching/free/espacenet/fair-use.html</moreInfo></error>
        ```
