-r requirements.txt

bumpversion==0.5.3
dogpile.cache==0.5.6

# Test
coveralls==1.0
flake8==2.4.1
py==1.4.30  # Explicit for Travis work-around
pytest-cache==1.0
pytest-cov==2.1.0
pytest==2.8.0
tox==2.1.1

git+git://github.com/gsong/python-dotenv.git@py26-support#egg=python-dotenv
