-r requirements.txt

bumpversion==0.5.3
dogpile.cache==0.5.7
wheel==0.26.0

# Test
coveralls==1.1
flake8==2.5.1
pep8==1.6.2
py==1.4.31  # Explicit for Travis work-around
pytest-cache==1.0
pytest-cov==2.2.0
pytest==2.8.4
python-dotenv==0.3.0
tox==2.3.0
